<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
    <appenders>
        <File name="SearchFile" fileName="logs/search.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INPUT_HISTORY" />
            </Filters>
        </File>
        <File name="SearchFileError" fileName="logs/search1.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INPUT_ERROR" />
            </Filters>
        </File>

    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="SearchFile" level="info"/>
            <appender-ref ref="SearchFileError" level="error"/>
        </root>

    </loggers>
</configuration>

